body {
    font-family: Roboto;
}

#brand {
    font-family: Julius Sans One;
    font-size: 1.5em;
    color: white;
}

#url-field {
    width: 90%;
}

.nav-container {
    background-color: 4663dc;
}